<%- partial('_partial/head') %>

<body>
  <header id="header"><%- partial('_partial/header') %></header>
  <div id="content" class="inner">
	<!--<div id="menu"><%- partial('_partial/menu') %></div>-->
	<div id="post-content"><%- body %></div>
  </div>
  <footer id="footer"><%- partial('_partial/footer') %></footer>
  <%- partial('_partial/after_footer') %>
</body>
</html>
