<% if (type == 'archive') { %>
	<div class="archive-title"><p><%= _p('archives_count', site.posts.length) %></p></div>
	<div class="archive">
		<% year = new Date().getFullYear() %>
		<div class="year"><p><%= year %></p></div>
			<ul>
		<% site.posts.sort('date', 'desc').each(function (item) { %>
			<% item_year = item.date.year() %>
			<% if (item_year != year) { %>
				<% year = item_year %>
				</ul>
				</div>
				<div class="year"><p><%= year %></p></div>
					<ul>
			<% } else { %>
				<li>
					<time><%= item.date.format('MMM DD') %></time>
					<a href="<%= config.root %><%- item.path %>"><%= item.title %></a>
				</li>
			<% } %>
		<% }) %>
			</ul>
		</div>
	</div>
<% } else if (type == 'category') { %>
	<div class="archive-title"><p><%= page.category %></p></div>
	<div class="archive-category">
		<ul>
		<% page.posts.sort('date', 'desc').each(function (item) { %>
			<li>
				<time><%= item.date.format('MMMM-DD-YYYY') %></time>
				<a href="<%= config.root %><%- item.path %>"><%= item.title %></a>
			</li>
		<% }) %>
		</ul>
	</div>
	<% if (page.total > 1) { %>
		<div class="archive-page">
			<%- paginator({prev_text: __('prev'), next_text: __('next')}) %>
		</div>
	<% } %>
<% } else if (type == 'tag') { %>
	<div class="archive-title"><p><%= page.tag %></p></div>
	<div class="archive-tag">
		<ul>
		<% page.posts.sort('date', 'desc').each(function (item) { %>
			<li>
				<time><%= item.date.format('MMMM-DD-YYYY') %></time>
				<a href="<%= config.root %><%- item.path %>"><%= item.title %></a>
			</li>
		<% }) %>
		</ul>
	</div>
	<% if (page.total > 1) { %>
		<div class="archive-page">
			<%- paginator({prev_text: __('prev'), next_text: __('next')}) %>
		</div>
	<% } %>
<% } else {} %>
