<div class="pagination">
  <table width='100%'>
    <tbody>
    <tr>
      <td width='50%' align='left'>
        <% if (page.prev){ %>
          <a href="<%- config.root %><%- page.prev_link %>" class="alignleft prev"><%= __('prev') %></a>
        <% } %>
      </td>
      <td width='50%' align='right'>
        <% if (page.next){ %>
          <a href="<%- config.root %><%- page.next_link %>" class="alignright next"><%= __('next') %></a>
        <% } %>
      </td>
    </tr>
    </tbody>
  </table>
</div>
